html,
body {
  padding: 0;
  margin: 0;
}
body {
  font: normal normal 400 100%/1.5 'Ubuntu', sans-serif;
}
main {
  padding: 0 16px;
  display: grid;
  grid-auto-flow: row;
  justify-content: center;
}
.shadow {
  box-shadow: 0 0.4rem 1.1rem rgba(50, 58, 67, 0.12);
}
.box {
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 16px;
}
.fadeInUp {
  animation-name: fadeInUp;
  animation-duration: 1s;
}
/* TBD */
#projects {
  padding: 16px;
  display: grid;
  grid-auto-flow: row;
}
